@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap");

@config "../tailwind.config.js";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: 'Restore';
    src: url('./assets/font/Restore-W00-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}


